.header_style {
  background-color: #182539;
  position: fixed;
}

.navbar-element {
  cursor: pointer;
  margin: auto;
}

.navbar-static-placeholder {
  position: static;
  height: 91px;
}

@media screen and (max-width: 992px) {
  .navbar-static-placeholder {
    height: 72px;
  }
}

.login-dropdown-color .dropdown-item {
  color: #333 !important;
  font-weight: 300;
  line-height: 2rem !important;
}

.login-dropdown-color .dropdown-item.disabled {
  color: #3337 !important;
  /* background-color: #f00; */
}

.login-dropdown-color .dropdown-item:hover {
  background-color: #182539bb;
  color: white !important;
}

.login-dropdown-color .dropdown-item:active {
  background-color: #182539;
}

.navbar-avatar {
  width: 1.5rem;
  height: auto;
  border-radius: 100%;
}

/* New Coupon CSS */

.create-coupon-form-1 {
  margin: 6rem 0;
}

.create-coupon-form-1 .red-border .form-control,
.create-coupon-form-1 .red-border .input-group-append button {
  border: 1px solid #f00;
}

.create-coupon-form-1 .input-group input {
  outline: none;
}

.create-coupon-form-1 .large {
  font-size: 2rem;
}

.create-coupon-form-1 .create-coupon-button {
  margin-top: 1rem;
  font-size: 1.5rem;
}

/* Redeem Coupon CSS */

#redeem-file-drag {
  border: 3px solid #182539;
  border-radius: 1rem;
  border-style: dashed;
  margin: 1rem auto;
  padding: 30vh 1rem;
  text-align: center;
  color: #182539;
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
}

#redeem-file-drag .alert {
  margin-top: 1rem;
}
